#
#graphql:
#  servlet:
#    mapping: /graphql
#    enabled: true
#    corsEnabled: true
#    # if you want to @ExceptionHandler annotation for custom GraphQLErrors
#    exception-handlers-enabled: true
#    contextSetting: PER_REQUEST_WITH_INSTRUMENTATION


spring:
  application:
    name: graphql-todo-app
  servlet:
    multipart:
      enabled: true
      location: /tmp
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
graphql:
  servlet:
    actuator-metrics: true
#altair:
#  enabled: true
#  cdn:
#    enabled: false
#graphiql:
#  enabled: true
#  cdn:
#    enabled: false
#voyager:
#  enabled: true
#  cdn:
#    enabled: false
#graphql.playground:
#  enabled: true
#  cdn:
#    enabled: false